*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	body{
		background-color:#f6f5f7;
		display:flex;
		justify-content:center;
		align-items:center;
		font-family:sans-serif;
		height:100vh;
		margin:auto;
	}
	.container{
		background-color:white;
		padding:2rem;
		border-radius:7px;
		box-shadow:10px 10px 20px black;
	}
	.container h1{
		color:blue;
		text-align:center;
		font-size:1rem;
	}
	.box1{
		padding:0.5rem;
		text-align:center;
		position:relative;
		padding-bottom:1rem;
	}
	.box1 iconify-icon{
		position:absolute;
		right:10%;
		/* <!-- bottom:1%; --> */
	}
	.box1 input{
		padding:0.7rem;
	}
	.box1 button{
		padding:0.8rem;
		background-color:blue;
		border:none;
		color:white;
		text-align:center;
		width:100%;
		border-radius:5px;
		
	}
	#para{
		padding-top:1rem;
	}
	#para1{
		padding-top:1rem;
	}
	.box2 a{
		padding:0.6rem;
		background-color:#51B92D;
		color:white;
		border:none;
		border-radius:7px;
		font-size:1rem;
	}
	.box2{
		text-align:center;
		padding-top:1rem;
		
	}
	